html
   head
      title Demo Pug
   body
      h2 Hello Pug
      p Halaman ini berasal dari template yang dibuat menggunakan Pug
      p Isi variabel nama: #{nama}
      p Isi variabel daftar:
      ul
         each elemen in daftar
            li= elemen
