html
   head
      title Demo Pug
   body
      h2 Demo Interpolasi di dalam Pug      
      form(action="/", method="post")
         label(for="nama") Masukkan nama Anda:
         input(type="text", name="nama")
         input(type="submit", value="Kirim")
