html
   head
      title Demo Pug
   body
      h2 Demo Pemilihan di dalam Pug      
      if (bilangan > 0)
         p #{bilangan} adalah bilangan positif
      else if (bilangan == 0)
         p Anda memasukkan nilai nol
      else
         p #{bilangan} adalah bilangan negatif
