html
   head
      title Demo Pug
   body
      h2 Demo Pemilihan di dalam Pug      
      form(action="/", method="post")
         label(for="bilangan") Masukkan bilangan bulat:
         input(type="text", name="bilangan", size="10")
         input(type="submit", value="Kirim")
